body{
  background-image: url('/img/messi_grey.png');
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  height: 100vh;
}

table {
  border-collapse:separate;
  border:solid black 1px;
  border-radius:6px;
}

td, th {
  border-left:solid black 1px;
  border-top:solid black 1px;
}

th {
  background-color: blue;
  border-top: none;
}

td:first-child, th:first-child {
   border-left: none;
}

.table-title {
  font-size: 50px;
  font-family: "Courier New", monospace;
}

.list-sprite{
  max-width: 30px;
  max-height: 30px;
}