body{
  background-image: url('/img/messi_grey.png');
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  height: 100vh;
}

table {
  border-collapse:separate;
  border:solid black 1px;
  border-radius:6px;
}

td, th {
  border-left:solid black 1px;
  border-top:solid black 1px;
}

th {
  background-color: blue;
  border-top: none;
}

td:first-child, th:first-child {
   border-left: none;
}

.table-title {
  font-size: 50px;
  font-family: "Courier New", monospace;
}

.team-crest-image {
  padding-top: 25px;
  max-width: 400px;
  max-height: 400px;
}

.teams-page-title {
  font-family: "Courier New", monospace;
  margin-top: 20px; color: rgb(255, 187, 0);
}

.list-team-crest-image {
  padding-top: 5%;
  max-width: 120px;
  max-height: 120px;
  align-self: center;
}

.card-container {
  width: 16rem;
  background-color: rgba(141, 119, 90, 0.603);
}
.card-container:hover .overlay-button {
  opacity: 1;
}
.team-card-title {
  font-size: 135%;
  font-family: "Courier New", monospace;
  color: rgb(238, 210, 179);
  text-align: center;
  border-radius: 25%;
  text-shadow: 5px 5px 5px black;
}
.overlay-button {
  float: left;
  font-size: 110%;
  padding: 5px 10px;
  transition: opacity 0.3s;
  opacity: 0;
  background-color: rgba(46, 40, 40, 0.548);
}

.btn {
  text-shadow: 1px 1px 4px rgb(0, 0, 0);
}