<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Timothy's Football Club CRUD</h1>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <button type="button" id="enter-page-button" class="btn btn-warning">
                Enter Page
            </button>
        </div>
    </div>
</div>
<script src="scripts/home.js"></script>
