<div class="container">
    <div class="row">
        <div class="col-4">
            <button type="button" class="btn btn-shadow btn-outline-warning" style="margin-top: 25px;" id="back-to-teams-button" data-bs-toggle="modal" data-bs-target="#confirmationModal">
                Go back
            </button>
        </div>
    </div>

    <div class="row" id="tables">
        <div class="col">
            <strong class="d-flex justify-content-center text-warning table-title">
                Team
            </strong>
            <div class="d-flex justify-content-center">
                {{> newTeamTable team=data.team }}
            </div>
        </div>
        <div class="col">
            <strong class="d-flex justify-content-center text-warning table-title">
                Players
            </strong>
            <div class="d-flex justify-content-center">
                {{> newTeamPlayersTable }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-center img-container">
            <button class="btn btn-shadow btn-outline-warning" id="upload-image-button" style="font-size: 150%; margin-bottom: 2%">
                <div>
                    <span style="display:block">
                        Upload Crest
                    </span>
                    <span style="font-size: 60%; display:block">
                        jpeg / jpg / png / gif   
                    </span>
                </div>
            </button>

            <button class="btn btn-shadow btn-success" id="uploaded-image-button" style="font-size: 150%; margin-bottom: 2%; display: none">
                <div style="display: block;">
                    <div>
                        Selected file:
                    </div>
                    <span style="font-size: 60%; display:block">
                        image.png 
                    </span>
                </div>
            </button>


            <input type="file" id="image-input" style="display: none;">
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-center img-container">
            <button class="btn btn-shadow btn-outline-warning" id="submit-team-button" style="font-size: 150%;" href="{{data.addTeamPath}}">
                <span style="display: block;">
                    Submit Team
                </span>
            </button>
        </div>
    </div>
</div>
{{> confirmationModal }}
<script type="module" src="src/teamAdder/eventHandler.js"></script>