<div class="container">
    <div class="row">
        <div class="col-4">
            <button type="button" class="btn btn-shadow btn-outline-warning" style="margin-top: 25px;" id="back-to-teams-button">
                Go back
            </button>
        </div>

        <div class="col-4">
            <div class="d-flex justify-content-center img-container">
                <img src="{{data.crest}}" alt="Team crest" class="team-crest-image">
                <button class="btn btn-shadow overlay-button btn-outline-warning position-absolute top-50 start-50 translate-middle" id="upload-image-button" style="font-size: 150%;">
                    Upload new image
                </button>
                <input type="file" id="image-input" style="display: none">
            </div>
        </div>

        <div class="col">
            <div class="text-end">
                <button type="button" id="reset-team-button" class="btn btn-shadow btn-outline-danger" 
                style="margin-top: 25px;" data-bs-toggle="modal" data-bs-target="#confirmationModal"
                data-toggle="tooltip" data-placement="bottom" title="Reset the team to its default values">
                    Reset to default
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <strong class="d-flex justify-content-center text-warning table-title">
                Team
            </strong>
            <div class="d-flex justify-content-center">
                {{> teamTable team=data.team }}
            </div>
        </div>
        <div class="col">
            <strong class="d-flex justify-content-center text-warning table-title">
                Players
            </strong>
            <div class="d-flex justify-content-center">
                {{> playersTable players=data.players }}
            </div>
        </div>
    </div>
    <input type="hidden" id="team-id" value="{{data.id}}">
</div>
{{> confirmationModal }}
<script type="module" src="src/teamEditor.js"></script>