<div class="container">
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-outline-warning" style="margin-top: 25px;" id="back-to-teams-button">
                Go back
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-center">
                <img src="{{data.crest}}" alt="Team crest">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-center">
                {{> team team=data.team }}
            </div>
        </div>
        <div class="col">
            <div class="d-flex justify-content-center">
                PLAYERS
            </div>
        </div>
    </div>
</div>
<script type="module" src="scripts/team.js"></script>