<div class="container">
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-shadow btn-outline-warning" style="margin-top: 15px;" id="log-out-button" href="{{data.logoutPath}}">log out</button>
            <span class="text-center teams-page-title"> User: {{data.capitalizedName}}</span>
        </div>
    </div>

    <div class="row" style="padding-bottom: 3%;">
        <div class="col text-center">
            <button type="button" id="add-team-button" class="btn btn-shadow btn-outline-warning" href="{{data.addTeamPath}}">
                Add new team
            </button>
        </div>

        <div class="col text-center">
            <div class="input-group mb-3">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">All teams</button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" >All teams</a></li>
                    <li><a class="dropdown-item" >Default teams</a></li>
                    <li><a class="dropdown-item" >Custom teams</a></li>
                </ul>
                <input id="search-input" type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="Search teams...">
            </div>
        </div>

        <div class="col text-center">
            <button type="button" id="reset-teams-button" class="btn btn-shadow btn-outline-danger"  
            data-toggle="tooltip" data-placement="auto" title="Erase all teams and reload default teams"
            data-bs-toggle="modal" data-bs-target="#confirmationModal" href="{{data.resetTeamsPath}}">
                Reset Teams
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {{> teams items=data.teams domain=data.domain path=data.teamPath}}
        </div>
    </div>
{{> confirmationModal }}
</div>
<script type="module" src="src/teams.js"></script>