<div class="container">
    <div class="row">
        <div class="col-2">
            <button type="button" class="btn btn-outline-warning" style="margin-top: 15px;" id="log-out-button">log out</button>
        </div>
        <div class="col-8">
            <h1 class="text-center teams-page-title">Welcome {{data.capitalizedName}}</h1>
        </div>
    </div>

    <div class="row" style="padding-bottom: 3%;">
        <div class="col text-center">
            <button type="button" id="add-new-team-button" class="btn btn-warning">
                Add new team
            </button>
        </div>
        <div class="col text-center">
            <button type="button" id="reset-teams-button" class="btn btn-danger">
                Reset Teams
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {{> teams username=data.username items=data.teams }}
        </div>
    </div>

</div>
<script type="module" src="scripts/teams.js"></script>