<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="confirmationModalLabel">Are you sure?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <span id="modal-confirmation-text"></span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" id="confirmation-modal-button" data-bs-dismiss="modal">Confirm</button>
        <button type="button" class="btn btn-outline-dark" id="cancel-modal-button" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>