<div style="height: 410px; overflow: auto;">
    <table class="table" id="players-table">
        <thead>
            <tr class="table-dark" id="add-player-row">
                <td class="text-warning">Name
                    <input type="text" class="form-control" value="" style="display: none;" data-parameter="name">
                </td>
                <td class="text-warning">Position
                    <input type="text" class="form-control" value="" style="display: none;" data-parameter="position">
                </td>
                <td class="text-warning">Nationality
                    <input type="text" class="form-control" value="" style="display: none;" data-parameter="nationality">
                </td>
                <td style="display: flex; min-height: 80px; padding-top: 20px;">
                    <button class="btn btn-shadow btn-outline-warning"  id="add-player-button" style="max-height: 40px; min-width: 120px;">
                        Add player
                    </button>
                </td>
            </tr>
        </thead>
    </table>

    <template id="new-player-template">
        <tr class="table-dark table-bordered" data-index="-1" >
            <td>
                <input type="text" class="form-control" value="" data-parameter="name">
            </td>
            <td>
                <input type="text" class="form-control" value="" data-parameter="position">
            </td>
            <td>
                <input type="text" class="form-control" value="" data-parameter="nationality">
            </td>
            <td class="buttons-column" style="display: flex; min-height: 42px;">
                <button class="btn btn-outline-danger remove"> 
                    remove
                </button>
            </td>
        </tr>
    </template>
</div>