<div class="container">
    <div class="row row-cols-5 justify-content-center">
    {{#each items}}
    <div class="card card-container">
        <div class="card-header">
            <h5 class="card-title team-card-title">{{this.name}}</h5>
        </div>
        <img src="{{this.crestUrl}}" class="list-team-crest-image" alt="team crest">
        <div class="card-body" style="align-self: center" id="{{this.id}}">
            <button class="btn btn-outline-warning overlay-button edit" style="margin-right: 10px;">edit</button>
            <button class="btn btn-outline-danger overlay-button delete"
             data-bs-toggle="modal" data-bs-target="#confirmationModal">delete</button>
        </div>
    </div>
    {{/each}}
    </div>
</div>