<div class="container">
    {{#each items}}
    <div class="row">
        <div class="col-md-9">
            <a href="user/{{../username}}/teams/{{this.id}}">{{this.name}}</a>
            <img src="{{this.crestUrl}}" class="list-sprite" alt="crest">
        </div>
        <div class="col">
            <button class="btn btn-outline-warning">edit</button>
        </div>
        <div class="col">
            <button class="btn btn-outline-secondary">reset</button>
        </div>
        <div class="col">
            <button class="btn btn-outline-danger">delete</button>
        </div>
    </div>
    {{/each}}
</div>