<table class="table" id="team-table">
    <thead>
        {{#each team}}
           <tr class="table-dark table-bordered">
                <td class="text-warning" style="text-transform: capitalize; padding-top: 3.5%;">{{@key}}</td>
                <td id="{{@key}}">
                    <span>{{this}}</span>
                    <input type="text" class="form-control" value="" style="display: none;">
                </td>
                <td>
                    <button class="btn btn-shadow btn-outline-warning edit">
                        edit
                    </button>
                    <button class="btn btn-shadow btn-outline-success apply" style="display: none;">
                        apply
                    </button>
                </td>
            </tr>
        {{/each}}
    </thead>
</table>